%ul
  %li.toolbar_button
    = render :partial => "button", |
             :object => {:text => "Back",
                         :path => hash_for_source_files_path.merge(:folder_id => @source_file.folder_id),
                         :icon => "back.png",
                         :title => "Click here to go back to the containing folder.",
                         :class => "toolbar_button"}
  %li.toolbar_button
    = render :partial => "button", |
             :object => {:text => "Edit",
                         :path => edit_source_file_path(:id => @source_file.id),
                         :method => :put,
                         :icon => "edit.png",
                         :title => "Click here to lock and edit the source file.",
                         :id => "edit_source_file",
                         :class => "toolbar_button"}
  %li.toolbar_button
    = render :partial => "button", |
             :object => {:text => "Download",
                         :path => download_source_file_path(:id => @source_file.id),
                         :method => :put,
                         :icon => "download.png",
                         :title => "Click here to lock and download the source file.",
                         :id => "download_source_file",
                         :class => "toolbar_button last"}

:javascript
  $(document).ready(function(){
    $("a#edit_source_file").click(function(){
      var f = document.createElement('form')
      f.style.display = 'none'
      this.parentNode.appendChild(f)
      f.method = 'POST'
      f.action = this.href
      var h = document.createElement('input')
      h.setAttribute('type', 'hidden')
      h.setAttribute('name', 'authenticity_token')
      h.setAttribute('value', "#{session[:_csrf_token]}")
      f.appendChild(h)
      var m = document.createElement('input')
      m.setAttribute('type', 'hidden')
      m.setAttribute('name', '_method')
      m.setAttribute('value', 'put')
      f.appendChild(m)
      f.submit()
      return false
    })
    $("a#download_source_file").click(function(){
      var f = document.createElement('form')
      f.style.display = 'none'
      this.parentNode.appendChild(f)
      f.method = 'POST'
      f.action = this.href
      var h = document.createElement('input')
      h.setAttribute('type', 'hidden')
      h.setAttribute('name', 'authenticity_token')
      h.setAttribute('value', "#{session[:_csrf_token]}")
      f.appendChild(h)
      var m = document.createElement('input')
      m.setAttribute('type', 'hidden')
      m.setAttribute('name', '_method')
      m.setAttribute('value', 'put')
      f.appendChild(m)
      f.submit()
      return false
    })
  })

