- path = toolbar_button[:path]
- id = toolbar_button[:id]
- parameters = toolbar_button[:params]
%div.form_element{:id => id, :class => ("last" if toolbar_button[:last])}
  - form_tag path, |
             :id => id,
             :method => toolbar_button[:method] do
    - parameters.keys.each do |key|
      = hidden_field_tag(key, parameters[key])
    = image_tag toolbar_button[:icon], :size => "24x24", :alt => ""
    %span.toolbar_button= text_field_tag("name", "", :size => "14", :maxlength => 30, :id => id, :class => "form_element")
%a.toolbar_button{:id => id, :href => path, :title => toolbar_button[:title], :class => ("last" if toolbar_button[:last])}
  %p
    = image_tag toolbar_button[:icon], :size => "24x24", :alt => ""
    %span.toolbar_button= toolbar_button[:text]

          