= stylesheet_link_tag 'source_files/local_style'
%div#toolbar
  = render :partial => "edit_buttons"
%div#source_file
  %ul
    %li.header
      &nbsp;
    - form_tag source_file_path(:id => @source_file.id), |
               :id => "edit_source_file",
               :method => :put do
      %li.content
        = render :partial => "text_field",
                 :object => {:label => "Path",
                             :key => "source_file[path_name]",
                             :value => @source_file.path_name,
                             :class => cycle("odd", "even"),
                             :maxlength => 100}
      %li.content
        = render :partial => "text_field",
                 :object => {:label => "FileName",
                             :key => "source_file[name]",
                             :value => @source_file.name,
                             :class => cycle("odd", "even"),
                              :maxlength => 30}
      %li.content
        = render :partial => "text_box",
                 :object => {:label => "Code",
                             :key => "source_file[code]",
                             :value => @source_file.code,
                             :class => cycle("odd", "even")}
