= stylesheet_link_tag 'source_files/local_style'
- form_tag source_file_path(:id => @source_file.id), |
         :id => "edit_source_file",
         :method => :put do
  %div#toolbar
    = render :partial => "edit_buttons"
  %div#source_file
    %ul
      %li.header
        %ul
          %li.file_name{:title => (@source_file.path_name + @source_file.name)}
            %span= @source_file.path_name + @source_file.name
          - if @source_file.last_update
            %li.file_status{:title => "Last updated #{time_ago_in_words(@source_file.last_update)} ago. Message: \"#{@source_file.message}\""}
              %span= "Last updated #{time_ago_in_words(@source_file.last_update)} ago. Message: \"#{@source_file.message}\""
      %li.content
        = render :partial => "text_field",
                 :object => {:label => "Path",
                             :key => "source_file[path_name]",
                             :value => @source_file.path_name,
                             :class => cycle("odd", "even"),
                             :maxlength => 100}
      %li.content
        = render :partial => "text_field",
                 :object => {:label => "FileName",
                             :key => "source_file[name]",
                             :value => @source_file.name,
                             :class => cycle("odd", "even"),
                              :maxlength => 30}
      %li.content
        = render :partial => "text_box",
                 :object => {:label => "Code",
                             :key => "source_file[code]",
                             :value => @source_file.code,
                             :class => cycle("odd", "even")}
