!!! XML
!!!
%html{ :xmlns=>"http://www.w3.org/1999/xhtml", 'xml:lang'=>"en", :lang=>"en" }
  %head
    %title SourceControl
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html;charset=utf-8"}
    = csrf_meta_tag
    = javascript_include_tag :defaults
    = javascript_include_tag 'shCore'
    = javascript_include_tag 'shAutoloader'
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'common'
    = stylesheet_link_tag 'screen'
    = stylesheet_link_tag 'shCore'
    = stylesheet_link_tag 'shThemeEclipse'
    /[if lt IE 7]
      %script{:defer=>"defer", :type=>"text/javascript", :src=>"/javascripts/pngfix.js"}
    %link{:rel=>"Shortcut Icon", :href=>"/favicon.ico"}
  %body  
    #login
      - unless params[:controller] == "people"
        - if @person
          = render :partial => "layouts/account"
        - else
          = render :partial => "layouts/login"

    #content
      - if flash[:message]
        #flash.notice.flash= flash[:message]
      - if flash[:success]
        #flash.success= flash[:success]
      - if flash[:error]
        #flash.error= flash[:error]
        
      = yield
      
      = javascript_include_tag 'semaphore'
      